<h1>Create a secret message</h1>

<a href="/">Back</a>

<form action="/messages" method="post">
  <label>Title</label>
  <br>
  <input type="text" name="title">
  <br>
  <label>Body</label>
  <br>
  <textarea name="body" rows="8" cols="80"></textarea>
  <br>
  <input type="submit" value="Create">

</form>
