<h1>Secret message</h1>

<a href="/">Back</a>


<article>
  <h3><%= @message.title %></h3>
  <p><%= @message.body %></p>
</article>

<a href="/messages/<%= @message.id %>/edit">Edit</a>

<form action="/messages/<%= @message.id %>" method="post">
<input type="hidden" name="_method" value="delete">
  <input type="submit" value="Destroy">

</form>
